<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">Recipe book(Admin)</h1>
    <%#= render "shared/recipe_book"%>
    <%= render partial: 'shared/recipe_book', :locals => {:c_name => "admin"}%>
  </div>
</div>
