<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">Success</h1>
    <h2>You've successfully created the combined pdf... :)
    </h2>
    <center>
      <img src="/success.png" class= "about-img">
    </center>
  </div>
</div>
