<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">all users</h1>
    <% @users.each do |user|%>
      <div class="users-index-item">
        <div class="user-right">
          <!--<%= user.name%>-->
          <%= link_to(user.name,"/users/#{user.id}")%>
        </div>
        <div class= "king">
          <% if user.role == "premium" %>
            <span class="fa fa-star"></span>
          <% end %>
        </div>
      </div>
    <%end%>
  </div>
</div>
