<div class="main users-new">
  <div class="container">
    <div class="p-2 pt-md-4 pb-md-3 mx-auto text-center">
      <h1 class="display-4">Login</h1>
    </div>
    <div class="form users-form">
      <div class="form-body">
        <%= form_tag("/login") do%>
          <p>email</p>
          <input class="form-control" placeholder="has to include @ and ." name="email" required="true">
          <p>password</p>
          <input class="form-control" placeholder="4-8 numbers or characters" name="password" type="password" required="true">
          <p></p>
          <input class="btn btn-success btn-lg btn-block mb-3" type="submit" value="login">
        <%end%>
      </div>
      <div class="row">
        <div class="span6">
          <code>
            &lt;code&gt;code content will display inline&lt;/code&gt;
          </code>
        </div>
        <div class="container2">
          <div class="span6">
            <pre class="pre-scrollable">
                code,
                pre {
                  padding: 0 3px 2px;
                  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
                  font-size: 12px;
                  color: #333333;
                  -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                          border-radius: 3px;
                }
                <hr/>
                code {
                  <hr/>
                  padding: 2px 4px;
                  color: #d14;
                  background-color: #f7f7f9;
                  border: 1px solid #e1e1e8;
                }
          </pre>
          </div>
        </div>
        padding: 0 3px 2px;
        font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
        font-size: 12px;
        color: #333333;
        <hr/>
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      </div>
    </div>
  </div>
</div>
</div>
