<div class="main meals-new">
  <div class="container">
    <h1 class="form-heading">Registration</h1>
    <div class="form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_tag("/users") do%>
          <p>user name</p>
          <input name="user_name" required="true">
          <p>email</p>
          <input placeholder="has to include @ and ." name="email" required="true">
          <p>password</p>
          <input placeholder="4-8 numbers or characters" name="user_password" type="password" required="true">
          <input type="submit" value="send">
        <%end%>
      </div>
    </div>
  </div>
</div>