<div class="main meals-new">
  <div class="container">
    <h1 class="form-heading">Registration</h1>
    <%= form_tag("/users/create") do%>
      <div class="form">
        <div class="form-body">
          <p>user name
            <p>
              <input name="user_name">
              <p>email
                <p>
                  <input name="email">
                  <p>password</p>
                  <input name="user_password" type="password">
                  <input type="submit" value="send">
                </div>
              </div>
            <%end%>
          </div>
        </div>