<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">Recipe book(Premium)</h1>
    <%= render partial: 'shared/recipe_book', :locals => {:c_name => "users"}%>
  </div>
</div>
