<div class="about-main">
  <h2>About us</h2>
  <p>
    We introduce the dishes for you in enjoylable way!
    Let's get started happy cooking with us :)
  </p>
  <button onclick="location.href='http://www.google.com'" type="button" class="btn btn-primary btn-sm btn-block" data-toggle="button" aria-pressed="false" autocomplete="off">
    Google
  </button>
  <button onclick="location.href='http://localhost:3000/login'" type="button" class="btn btn-info btn-sm btn-block" data-toggle="button" aria-pressed="false" autocomplete="off">
    Login
  </button>
  <p></p>
  <img class="about-img" src="/breakfast.png">
  <%#= javascript_pack_tag "popup"%>
</div>
