<div class="about-main">
  <h2>About us</h2>
  <p>
    We introduce the dishes for you in enjoylable way!
    Let's get started happy cooking with us :)
  </p>
  <!--image code
  <img class="about-img" src="/pizza.png">-->
  <img class="about-img" src="/breakfast.png">
</div>