<header>
  <div class="header-logo">
    <a href="/">Happy recipe</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">About us</a>
    </li>
  </ul>
</header>
<div class="main top-main">
  <div class="top-message">
    <h2>Welcome!</h2>
    <p>Happy cooking</p>
  </div>
</div>