<div class="main meals-new">
  <div class="container">
    <h1 class="form-heading">Modify the recipe name</h1>
    <div class="form">
      <div class="form-body">
        <textarea><%= @meal.name %></textarea>
        <input type="submit" value="save">
      </div>
    </div>
  </div>
</div>