<header>
  <div class="header-logo">
    <a href="/">Happy recipe</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">About us</a>
    </li>
  </ul>
</header>
<%meal1="pizza"%>
<%meal2="pasta"%>
<%meal3="pasticcio"%>
<%meal4="tiramisu"%>
<div class="main meals-index">
  <div class="container">
    <div class="meals-index-item">
      <%=meal1%>
    </div>
    <div class="meals-index-item">
      <%=meal2%>
    </div>
    <div class="meals-index-item">
      <%=meal3%>
    </div>
    <div class="meals-index-item">
      <%=meal4%>
    </div>
  </div>
</div>