<div class="main meals-index">
  <div class="container">
    <% @meals.each do |meal|%>
      <div class="meals-index-item">
        <!--<%= meal.name%>-->
        <%= link_to(meal.name,"/meals/#{meal.id}")%>
      </div>
    <% end%>
  </div>
</div>