<div class="main meals-new">
  <div class="container">
    <h1 class="form-heading">New recipe</h1>
    <%= form_tag("/meals/create") do%>
      <div class="form">
        <div class="form-body">
          <textarea name="meal_name"></textarea>
          <input type="submit" value="send">
        </div>
      </div>
    <%end%>
  </div>
</div>