<div class="main meals-new">
  <div class="container">
    <h1 class="form-heading">New recipe</h1>
    <div class="form">
      <div class="form-body">
        <% @meal.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_tag("/meals/create") do %>
          <p>title</p>
          <textarea name="title" required="true"></textarea>
          <p>content</p>
          <textarea name="content" required="true"></textarea>
          <p>type</p>
          <input type="text" name="meal_type" list="typelist" autocomplete="off" required="true">
          <datalist id="typelist">
            <% @mealTypes.each do |mealType|%>
              <option value="<%= mealType.description %>"></option>
            <% end%>
          </datalist>
          <p></p>
          <input type="submit" value="send">
        <%end%>
      </div>
    </div>
  </div>
</div>