<div class="main meals-index">
  <div class="container">
    <% @s_meals.each do |meal|%>
      <div class="meals-index-item">
        <%= link_to(meal.title,"/meals/#{meal.id}")%>
        <div class="meal-user-name">
          <%= link_to(meal.user.name,"/users/#{meal.user.id}")%>
        </div>
      </div>
    <% end%>
  </div>
</div>