<div class="main meals-new">
  <div class="container">
    <h1 class="users-heading">Search</h1>
    <div class="form">
      <div class="form-body">
        <%= form_tag("/meals/create_s") do %>
          <p>keyword in the title </p>
          <textarea name="t_keyword" required="true"></textarea>
          <p></p>
          <p>keyword in the content</p>
          <textarea name="c_keyword" required="true"></textarea>
          <p></p>
          <input type="submit" value="send">
        <%end%>
      </div>
    </div>
  </div>
</div>