<div class="main users-index">
  <div class="container">
    <h1 class="users-heading">Thanks for joining my course</h1>
    <h2>From now you are our member, let's learn cooking together... :)
    </h2>
    <center>
      <img src="/thanks.png" class= "about-img">
    </center>
  </div>
</div>
